USE [VendingSystem]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](150) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CrearedAt] [datetime] NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineInventory]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineInventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [int] NULL,
	[ProductId] [int] NULL,
	[CurrentQuantity] [int] NULL,
	[MinQuantity] [int] NULL,
	[LastRestocked] [int] NULL,
 CONSTRAINT [PK_MachineInventory] PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineTypes]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](150) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_MachineTypes] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[MaintenanceId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [int] NULL,
	[MaintenanceTypeId] [int] NULL,
	[MaintenanceDate] [date] NULL,
	[WorkDescription] [nvarchar](1000) NULL,
	[Problems] [nvarchar](1000) NULL,
	[PerformerId] [int] NULL,
	[PerformerName] [nvarchar](150) NULL,
	[HoursSpent] [decimal](4, 1) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Maintenance] PRIMARY KEY CLUSTERED 
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceTypes]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceTypes](
	[MaintenanceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_MaintenanceTypes] PRIMARY KEY CLUSTERED 
(
	[MaintenanceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modems]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modems](
	[ModemId] [int] IDENTITY(1,1) NOT NULL,
	[IMEI] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Provider] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[MachineId] [int] NULL,
 CONSTRAINT [PK_Modems] PRIMARY KEY CLUSTERED 
(
	[ModemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [int] NULL,
	[Title] [nvarchar](150) NULL,
	[Message] [nvarchar](500) NULL,
	[NotificationType] [nvarchar](20) NULL,
	[IsRead] [bit] NULL,
	[CrearedAt] [datetime] NULL,
	[ExpiresAt] [datetime] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NULL,
	[MInStock] [int] NULL,
	[SalesTendency] [decimal](10, 2) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[SaleDateTime] [datetime] NULL,
	[PaymentMethod] [nvarchar](20) NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTasks]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTasks](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Descripton] [nvarchar](500) NULL,
	[MachineId] [int] NULL,
	[AssignedTo] [int] NULL,
	[TaskType] [nvarchar](50) NULL,
	[Priority] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[ScheduledDate] [date] NULL,
	[CompletedDate] [date] NULL,
	[EstimatedHours] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_ServiceTasks] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusHistory]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [int] NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NULL,
	[ChangedBy] [int] NULL,
	[ChangeDate] [datetime] NULL,
	[Reason] [nvarchar](255) NULL,
 CONSTRAINT [PK_StatusHistory] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleId] [int] NULL,
	[CompanyId] [int] NULL,
	[IsActive] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 27.11.2025 15:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[MachineId] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](50) NULL,
	[InventoryNumber] [nvarchar](50) NULL,
	[Location] [nvarchar](255) NULL,
	[Model] [nvarchar](150) NULL,
	[TypeId] [int] NULL,
	[TotalIncome] [decimal](15, 0) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[ManufactureDate] [date] NULL,
	[CommisioningDate] [date] NULL,
	[LastVerificationDate] [date] NULL,
	[VerificationIntervalMonths] [int] NULL,
	[ResourceHours] [int] NULL,
	[NextMaintenanceDate] [date] NULL,
	[ServiceTime] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[InventotyDate] [date] NULL,
	[LastVerifiedBy] [nvarchar](150) NULL,
	[CompanyId] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_VendingMachines] PRIMARY KEY CLUSTERED 
(
	[MachineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [Phone], [RoleId], [CompanyId], [IsActive], [CreatedAt], [LastLogin]) VALUES (3, N'admin@vending.ru', N'12321', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [Phone], [RoleId], [CompanyId], [IsActive], [CreatedAt], [LastLogin]) VALUES (4, N'magomedov@amir.com', N'33333', N'Themagomedov', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Email], [PasswordHash], [FullName], [Phone], [RoleId], [CompanyId], [IsActive], [CreatedAt], [LastLogin]) VALUES (5, N'admin@vending.com', N'admin123', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[MachineInventory]  WITH CHECK ADD  CONSTRAINT [FK_MachineInventory_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[MachineInventory] CHECK CONSTRAINT [FK_MachineInventory_Products]
GO
ALTER TABLE [dbo].[MachineInventory]  WITH CHECK ADD  CONSTRAINT [FK_MachineInventory_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[MachineInventory] CHECK CONSTRAINT [FK_MachineInventory_VendingMachines]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_MaintenanceTypes] FOREIGN KEY([MaintenanceTypeId])
REFERENCES [dbo].[MaintenanceTypes] ([MaintenanceTypeId])
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_MaintenanceTypes]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD  CONSTRAINT [FK_Maintenance_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[Maintenance] CHECK CONSTRAINT [FK_Maintenance_VendingMachines]
GO
ALTER TABLE [dbo].[Modems]  WITH CHECK ADD  CONSTRAINT [FK_Modems_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[Modems] CHECK CONSTRAINT [FK_Modems_VendingMachines]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_VendingMachines]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Products]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_VendingMachines]
GO
ALTER TABLE [dbo].[ServiceTasks]  WITH CHECK ADD  CONSTRAINT [FK_ServiceTasks_Users] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ServiceTasks] CHECK CONSTRAINT [FK_ServiceTasks_Users]
GO
ALTER TABLE [dbo].[ServiceTasks]  WITH CHECK ADD  CONSTRAINT [FK_ServiceTasks_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[ServiceTasks] CHECK CONSTRAINT [FK_ServiceTasks_VendingMachines]
GO
ALTER TABLE [dbo].[StatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_Users] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StatusHistory] CHECK CONSTRAINT [FK_StatusHistory_Users]
GO
ALTER TABLE [dbo].[StatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_StatusHistory_VendingMachines] FOREIGN KEY([MachineId])
REFERENCES [dbo].[VendingMachines] ([MachineId])
GO
ALTER TABLE [dbo].[StatusHistory] CHECK CONSTRAINT [FK_StatusHistory_VendingMachines]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Companies]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[VendingMachines]  WITH CHECK ADD  CONSTRAINT [FK_VendingMachines_MachineTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[MachineTypes] ([TypeId])
GO
ALTER TABLE [dbo].[VendingMachines] CHECK CONSTRAINT [FK_VendingMachines_MachineTypes]
GO
